body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, TitilliumWeb, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  background-color: #282c34;
}

.noLink{
  text-decoration: none;
}
code {
  font-family: source-code-pro, TitilliumWeb, Monaco, Consolas, "Courier New",
    monospace;
}

.f1font {
  font-family: "MyFont";
  font-size: calc(10px + 2vmin);
}

.f1fonttext {
  font-family: "TitilliumWeb";
  font-size: calc(10px + 2vmin);
}

.fontAutoSized {
  font-size: calc(10px + 2vmin);
}

@font-face {
  font-family: "MyFont";
  src: local("MyFont"),
    url(../assets/fonts/Formula1-Bold_web_0.ttf) format("opentype");
}

@font-face {
  font-family: "TitilliumWeb";
  src: local("MyFont"),
    url(../assets/fonts/TitilliumWeb-Regular.ttf) format("opentype");
}
