.card{
    text-align: center;
    width: 27%;
    margin:2%;
    

}

.card .bg-secondary {
    border-radius: 20px;
}

.card *{
    font-size: calc(1px + 2vmin);
}

.nft1{
        width: 100%; 
        height: 100%;
}

@media (max-width: 1200px) {

    .card a{
        margin: 6%;
        width: 50%;
        --bs-btn-font-size: 0;

    }
    
}
