.main-logo{
    z-index: 1;
    position:absolute;
    width: 15vw;
    height: 15vh;
    border-radius: 100%;
    top: 10%;
}

.banner-video{ 
    /* margin-top: -20%; */
    width: 100%; 
    height: 100%;
    z-index: -100;
}


@media (max-width: 1200px) {
    .main-logo{
        width:calc(70px + 2vmin);
        height: calc(70px + 2vmin);
        top: 8%;
    }  
}